.popup:not(.active) {
  display: none;
}

.popup-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.popup.active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  min-width: 400px;
  min-height: 200px;
  padding: 1.2rem;
  background-color: var(--container-bg);
  border: 3px solid var(--main-brdr);
  font-size: 1.1rem;
  pointer-events: auto;
}

.popup .msg-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: .3rem;
}

.popup .btn-container {
  align-self: stretch;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popup .btn-container button {
  color: var(--btn-fg);
  background-color: transparent;
  border: 3px solid var(--main-brdr);
  font-size: 1.1rem;
}

.popup.score__update {
  align-items: center;
  min-width: 200px;
  min-height: 100px;
}

.popup.score__update .msg-container input {
  max-width: 50px;
}
